@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@{
	var exceptionFeature = HttpContext.Features
		.Get<Microsoft.AspNetCore.Diagnostics.IExceptionHandlerPathFeature>();

	var errorName = exceptionFeature?.Error?.GetType().Name ?? "Unknown error";
}

<h1>Error:</h1>
<h2>@errorName</h2>