<style>

.auth-overlay {
			position: fixed;
			inset: 0;
			z-index: 9999;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(0,0,0,0.4);
			backdrop-filter: blur(6px);
		}

		.auth-modal {
			background: white;
			width: 320px;
			padding: 20px;
			border-radius: 10px;
			position: relative;
		}

			.auth-modal input {
				width: 100%;
				margin: 8px 0;
				padding: 8px;
			}

			.auth-modal button {
				width: 100%;
				padding: 10px;
				margin-top: 10px;
			}

		.switch {
			text-align: center;
			margin-top: 10px;
			color: blue;
			cursor: pointer;
		}


</style>

<div id="authOverlay" class="auth-overlay" style="display:none;">

	<div class="auth-modal">

		<div id="loginBox">
			<h2>Login</h2>

			<form id="loginForm">
				<input type="text" name="username" placeholder="Username" required />
				<input type="password" name="password" placeholder="Password" required />
				<button type="submit">Login</button>
			</form>

			<p class="switch" onclick="showRegister()">Don't have an account? Register</p>
		</div>

		<div id="registerBox" style="display:none;">
			<h2>Register</h2>

			<form id="registerForm">
				<input type="text" name="username" placeholder="Username" required />
				<input type="password" name="password" placeholder="Password" required />
				<input type="password" name="confirmPassword" placeholder="Confirm Password" required />
				<button type="submit">Register</button>
			</form>

			<p class="switch" onclick="showLogin()">Already have an account? Login</p>
		</div>

	</div>
</div>

<script>
		function showRegister() {
		document.getElementById("loginBox").style.display = "none";
		document.getElementById("registerBox").style.display = "block";
	}

	function showLogin() {
		document.getElementById("registerBox").style.display = "none";
		document.getElementById("loginBox").style.display = "block";
	}

	document.addEventListener("DOMContentLoaded", () => {

		document.getElementById("loginForm").addEventListener("submit", async (e) => {
			e.preventDefault();

			const form = e.target;
			const response = await fetch("/User/Login", {
				method: "POST",
				body: new FormData(form)
			});

			if (response.ok) {
				closeAuth();
				location.reload();
			} else {
				alert("Login failed");
			}
		});

		document.getElementById("registerForm").addEventListener("submit", async (e) => {
			e.preventDefault();

			const form = e.target;

			if (form.password.value !== form.confirmPassword.value) {
				alert("Passwords do not match");
				return;
			}

			const response = await fetch("/User/Register", {
				method: "POST",
				body: new FormData(form)
			});

			if (response.ok) {	//po registraci automaticky přihlásí
				alert("Registration successfull");
				closeAuth();
				location.reload();
			} else {
				alert("Registration failed");
			}
		});

	});
</script>